body {
    background-color: black;
    color: aliceblue;
    font-family: Arial, sans-serif;
    min-height: min-content;
    margin: 100px;

}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 
}
h1{
    font-size: 70px;
    font-weight: 900;
    
}


.logo {
    width: 100%;
    height: auto;
}
.dt-section{
    text-align: center;
    margin: 10px;
}

.btn,
.btn2 {
    padding: 20px 130px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn {
    padding: 20px 130px;
    background-color: aliceblue;
    color: black;
    margin: 10px;
    font-size: 20px;
}

.btn2 {
    background-color: rgba(240, 255, 255, 0.333);
    color: aliceblue;
    margin: 20px;
}

.btn:hover {
    background-color: rgba(240, 248, 255, 0.8);
}

.btn2:hover {
    background-color: rgba(240, 248, 255, 0.6);
}
p a{
    text-decoration: none;
    font-weight: 600;
    color: aliceblue;
}
p {
    font-weight: 70;
}
.inp {
    padding: 10px ;
    padding-right: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: groove;
    background-color: black;
    border-color: rgba(0, 0, 0, 0.778);
    color: aliceblue;
}



footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    
}
nav a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 100;
    font-size: small;
}

a:hover{
    color: blueviolet;
}
